@media only screen and (min-width: 375px) and (max-width: 768px) {
  body {
    &#homepage {
      background-image: url(../space-tourism-website-main/starter-code/assets/home/background-home-tablet.jpg);
    }
    main {
      header {
        margin-top: 0;
        .navbar {
          height: 100%;
          width: 80%;
          div:nth-child(1) {
            margin-left: 10%;
          }
        }
        .logo_line {
          display: none;
        }
        .logo {
          margin-inline: auto;
        }
      }
      .container {
        flex-direction: column;
        align-items: center;
        .homedesc {
          margin: 0;
          padding: 0;
          width: 70%;
          text-align: center;
          p:first-of-type {
            margin-top: 15%;
          }
          p:last-of-type {
            margin: 0;
          }
        }
        .explore_btn {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80%;
          div {
            margin: 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  body {
    &#homepage {
      background-image: url(../space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg);
    }
    main {
      header {
        margin-top: 0;
        .navbar {
          display: none;
        }
        .logo_line {
          display: none;
        }
        .logo {
          margin-inline: auto;
        }
      }
      .container {
        flex-direction: column;
        align-items: center;
        .homedesc {
          margin: 0;
          padding: 0;
          width: 70%;
          text-align: center;
          p:first-of-type {
            margin-top: 15%;
          }
          p:last-of-type {
            margin: 0;
          }
        }
        .explore_btn {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80%;
          div {
            margin: 0;
          }
        }
      }
    }
  }
}
