@media only screen and (min-width: 375px) and (max-width: 768px) {
  body {
    &#homepage {
      background-image: url(../space-tourism-website-main/starter-code/assets/home/background-home-tablet.jpg);
    }
    main {
      header {
        margin-top: 0;
        height: 10%;
        .navbar {
          height: 100%;
          width: 80%;
          div:nth-child(1) {
            margin-left: 10%;
          }
        }
        .logo_line {
          display: none;
        }
      }
      .container {
        flex-direction: column;
        align-items: center;
        .homedesc {
          margin: 0;
          padding: 0;
          width: 70%;
          text-align: center;
          p:first-of-type {
            margin-top: 15%;
          }
          p:last-of-type {
            margin: 0;
          }
        }
        .explore_btn {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80%;
          div {
            margin: 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  body {
    &#homepage {
      background-image: url(../space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg);
      overflow: scroll;
    }

    main {
      overflow: scroll;
      header {
        justify-content: space-between;
        margin-top: 0;
        .navbar {
          display: none;
        }
        .hamburger {
          display: flex;
          margin-right: 1rem;
          font-size: 40px;
        }
        .logo_line {
          display: none;
        }
        .logo {
          margin-top: 1rem;
          margin-left: 1rem;
        }
      }
      .container {
        flex-direction: column;
        align-items: center;
        height: 100%;
        .homedesc {
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0;
          width: 90%;
          text-align: center;
          p:first-of-type {
            margin-top: 15%;
            font-size: 16px;
          }
          p:last-of-type {
            margin: 0;
            font-size: 15px;
            line-height: 180%;
          }
          h1 {
            font-size: 80px;
            margin: 2rem 0;
          }
        }
        .explore_btn {
          transform: scale(0.55);
          margin-top: 2rem;
          width: auto;
          div {
            margin: 0;
          }
        }
      }
    }
  }
}
