@media only screen and (min-width: 375px) and (max-width: 768px) {
  body {
    &#homepage {
      background-image: url(../space-tourism-website-main/starter-code/assets/home/background-home-tablet.jpg);
    }
    &#destpag {
      background-image: url(../space-tourism-website-main/starter-code/assets/destination/background-destination-tablet.jpg);
      overflow: scroll;
    }
    &#crew {
      background-image: url(../space-tourism-website-main/starter-code/assets/crew/background-crew-tablet.jpg);
      overflow: scroll;
    }
    &#tech {
      background-image: url(../space-tourism-website-main/starter-code/assets/technology/background-technology-tablet.jpg);
    }
    main {
      header {
        margin-top: 0;
        height: 10%;
        .navbar {
          height: 100%;
          width: 80%;
          div:nth-child(1) {
            margin-left: 10%;
          }
        }
        .logo_line {
          display: none;
        }
      }
      .container {
        flex-direction: column;
        align-items: center;
        height: 90%;
        .homedesc {
          margin: 0;
          padding: 0;
          width: 70%;
          text-align: center;
          p:first-of-type {
            margin-top: 15%;
          }
          p:last-of-type {
            margin: 0;
          }
        }
        .explore_btn {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80%;
          div {
            margin: 0;
          }
        }
        .moonimg {
          display: flex;
          flex-direction: column;
          width: 90%;
          margin-left: 0%;
          margin-top: 0%;
          p {
            padding-left: 0%;
            margin-top: 2rem;
            font-weight: 1;
            font-size: 20px;
          }
          img {
            padding-top: 0%;
            padding-left: 0%;
            width: 40%;
            align-self: center;
            margin: 5rem 0;
          }
        }
        .rightside {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 70%;
          .line {
            margin: 1rem 0;
            width: 100%;
          }
          .stats {
            width: 90%;
            gap: 0;
            justify-content: space-around;
          }
          .insidest {
            padding: 0;
            justify-content: center;
          }
          .descriere {
            text-align: center;
            margin: 2rem 0;
            p {
              width: auto;
              font-size: 16px;
              line-height: 180%;
            }
            h1 {
              padding: 0;
              font-size: 80px;
            }
          }
        }
        .crew {
          width: 90%;
          margin: 0;
          .crew_des {
            flex-direction: column;
            align-items: center;
            .crew_text {
              width: 100%;
              height: 40%;
              align-items: center;
              .crew_txt {
                text-align: center;
                width: 80%;
                height: auto;
                p {
                  font-size: 24px;
                  margin: 2rem 0;
                  width: 100%;
                }
                h1 {
                  font-size: 40px;
                  width: 100%;
                }
                p:last-of-type {
                  font-size: 16px;
                  margin: 0;
                  width: 100%;
                  text-align: center;
                  margin: 1rem 0;
                }
              }
              .btns {
                margin: 2rem 0;
                .btnx {
                  width: 10px;
                  height: 10px;
                }
              }
            }
            .crew_phto {
              // height: 60%;
              img {
                width: 100%;
                mask-image: none;
                margin: 0;
              }
            }
          }
          .crew_title {
            p {
              padding-left: 0%;
              margin-top: 2rem;
              font-weight: 1;
              font-size: 20px;
              letter-spacing: 2px;
            }
          }
        }
        .tech {
          width: 100%;
          .tech_title {
            width: 90%;
            margin-left: 3rem;
            p {
              font-size: 20px;
              padding-left: 0%;
              margin-top: 2rem;
              font-weight: 1;
              letter-spacing: 2px;
            }
          }
          .tech_gen {
            flex-direction: column-reverse;
            .tech_txt {
              width: 100%;
              flex-direction: column;
              .tech_info {
                width: 80%;
                p {
                  font-size: 28px;
                  text-align: center;
                }
                h1 {
                  font-size: 40px;
                  text-align: center;
                }
                P:last-of-type {
                  font-size: 16px;
                }
              }
              .tech_btn {
                flex-direction: row;
                width: 90%;
                margin: 1rem 0;
                a {
                  width: 56px;
                  height: 56px;
                }
              }
            }
          }
        }
      }
    }
  }
  .techA {
    .tech_photo, #tech_photo_mobile_tablet{
      display: block;
      width: 100%;
      height: 50%;
      img {
        content: url(../space-tourism-website-main/starter-code/assets/technology/tech\ bun.png);
        width: 100%;
      }
    }
  }
  .techB {
    .tech_photo, #tech_photo_mobile_tablet{
      display: block;
      width: 100%;
      height: 50%;
      img {
        content: url(../space-tourism-website-main/starter-code/assets/technology/image-spaceport-landscape.jpg);
        width: 100%;
      }
    }
  }
  .techC {
    .tech_photo, #tech_photo_mobile_tablet {
      display: block;
      width: 100%;
      height: 50%;
      img {
        content: url(../space-tourism-website-main/starter-code/assets/technology//image-space-capsule-landscape.jpg);
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 412px) {
  body {
    &#homepage {
      background-image: url(../space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg);
      overflow: scroll;
    }
    &#destpag {
      background-image: url(../space-tourism-website-main/starter-code/assets/destination/background-destination-mobile.jpg);
      overflow: scroll;
    }
    &#crew {
      background-image: url(../space-tourism-website-main/starter-code/assets/crew/background-crew-mobile.jpg);
      overflow: scroll;
    }
    &#tech {
      background-image: url(../space-tourism-website-main/starter-code/assets/technology/background-technology-mobile.jpg);
    }

    main {
      // overflow: scroll;
      header {
        justify-content: space-between;
        margin-top: 0;
        .navbar {
          display: none;
        }
        .hamburger {
          display: flex;
          margin-right: 1rem;
          font-size: 40px;
        }
        .logo_line {
          display: none;
        }
        .logo {
          margin-top: 1rem;
          margin-left: 1rem;
        }
      }
      .container {
        flex-direction: column;
        align-items: center;
        height: 90%;
        .homedesc {
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0;
          width: 90%;
          text-align: center;
          p:first-of-type {
            margin-top: 15%;
            font-size: 16px;
          }
          p:last-of-type {
            margin: 0;
            font-size: 15px;
            line-height: 180%;
          }
          h1 {
            font-size: 80px;
            margin: 2rem 0;
          }
        }
        .explore_btn {
          transform: scale(0.55);
          margin-top: 2rem;
          width: auto;
          div {
            margin: 0;
          }
        }
        .moonimg {
          width: 90%;
          margin: 0;
          text-align: center;
          p {
            font-size: 16px;
            font-weight: 1;
            margin: 1.5rem 0;
            padding: 0;
          }
          img {
            padding: 0;
            width: 40%;
            margin: 4rem 0;
          }
        }
        .rightside {
          width: 90%;
          .insidest {
            justify-content: space-around;
            width: 100%;
            padding: 0;
            gap: 0;
            div {
              text-align: center;
            }
          }
          .descriere {
            p {
              text-align: center;
              font-size: 15px;
              width: 100%;
              line-height: 1.5;
            }
            h1 {
              text-align: center;
              font-size: 56px;
            }
          }
          .line {
            width: 100%;
            margin: 2rem 0;
          }
          .stats {
            flex-direction: column;
            gap: 0;
            align-items: center;
            div {
              p {
                font-size: 14px;
                text-align: center;
              }
              h1 {
                text-align: center;
              }
            }
          }
        }
        .crew {
          width: 90%;
          margin: 0;
          height: 100%;
          .crew_title {
            height: 5%;

            p {
              font-size: 16px;
              text-align: center;
            }
          }
          .crew_des {
            flex-direction: column;
            justify-content: space-between;
            height: 95%;
            .crew_text {
              width: 100%;
              height: 50%;
              .crew_txt {
                height: 90%;
                width: 100%;
                p {
                  text-align: center;
                  width: 100%;
                  font-size: 18px;
                  margin: 2rem 0;
                }
                h1 {
                  text-align: center;
                  width: 100%;
                  font-size: 24px;
                }
                p:last-of-type {
                  text-align: center;
                  width: 100%;
                  font-size: 16px;
                  letter-spacing: 1.5px;
                }
              }
              .btns {
                margin: 1rem 0;
                justify-content: center;
                align-items: center;
                .btnx {
                  width: 10px;
                  height: 10px;
                }
              }
            }
            .crew_phto {
              margin: 0;
              width: 100%;
              height: 50%;

              img {
                width: 80%;
                height: 100%;
              }
            }
          }
        }
        .tech {
          width: 100%;
          margin: 0;
          height: 100%;
          .tech_title {
            width: 100%;
            height: 2%;
            margin: 0.5rem 0;
            p {
              font-size: 16px;
              text-align: center;
            }
          }
          .tech_gen {
            flex-direction: column-reverse;
            height: 90%;
            .tech_txt {
              display: flex;
              flex-direction: column;
              height: 50%;
              width: 100%;
              .tech_btn {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin: 2rem 0;
                height: 20%;
                a {
                  height: 50px;
                  width: 50px;
                  font-size: 18px;
                }
              }
              .tech_info{
                width: 90%;
                height: 50%;
                margin: 0;
                P{
                  text-align: center;
                  font-size: 18px;
                }
                h1{
                  font-size: 24px;
                  text-align: center;
                }
                p:last-of-type{
                  text-align: center;
                  font-size: 16px;
                }
              }
            }
            .tech_photo {
              display: flex;
              justify-content: center;
              height: 100%;
              width: 100%;
              align-items: center;
              img{
                content: url(../space-tourism-website-main/starter-code/assets/technology/image-launch-vehicle-landscape.jpg);
                transform: scale(0.6);

              }
            }
          }
        }
      }
    }
  }
  .techA {
    .tech_photo, #tech_photo_mobile_tablet{
      width: 100%;
      height: 50%;
      img {
        content: url(../space-tourism-website-main/starter-code/assets/technology/image-launch-vehicle-portrait.jpg);
        width: 100%;
        transform: scale(1);
        height: 100%;
      }
    }
  }
  .techB {
    .tech_photo, #tech_photo_mobile_tablet{
      width: 100%;
      height: 50%;
      img {
        content: url(../space-tourism-website-main/starter-code/assets/technology/image-spaceport-portrait.jpg);
        width: 100%;
        transform: scale(1);
        height: 100%;
      }
    }
  }
  .techC {
    .tech_photo, #tech_photo_mobile_tablet {
      width: 100%;
      height: 50%;
      img {
        content: url(../space-tourism-website-main/starter-code/assets/technology/image-space-capsule-portrait.jpg);
        width: 100%;
        transform: scale(1);
        height: 100%;
      }
    }
  }
}
